
%section
  .projects
    .projects__flash
      - if flash
        - flash.each do |name, msg|
          %div{class: name}
            %h1 #{msg}
    .projects__new
      =form_tag("/#{@key}", method: "post") do
        = hidden_field_tag(:key, @key)
        %ul
          %li
            =text_field_tag(:name, nil, placeholder: "Enter Your Name", maxlength: 50)
          %li
            =submit_tag("Create!")
