@import "bourbon";
@import "neat";
@import "normalize";
@import "colors";
@import "gridlover";
@import "copyit";
@import "projects";

html {
  height: 100%;
  background: #f0ecea;
}

body {
  height: 100%;
}

header {
  @include outer-container(100%);
}

.header__text {
  p {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background: #29a8b2;
    color: #5ff3ff;
    text-align: center;
    font-size: 2em;
    margin-top: 0;
  }
}

footer {
}
