// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea, input { outline: none; }

section {
  .projects {
    @include outer-container;
  }
}

.projects__uid {
  display: none;
  text-align: center;
  h2 {
    font-size: 1.5em;
  }
}

.projects__new {
  @include span-columns(6);
  @include shift(3);

  input[type=text] {
    border: 1px solid $color-border;
    border-radius: 0.25em;
    padding: 0.5em;
    width: 100%;
  }

  textarea {
    border: 1px solid $color-border;
    border-radius: 0.25em;
    padding: 0.5em;
    height: 25em;
    width: 100%;
  }

  input[type=submit] {
    background: $color-primary;
    border: none;
    border-radius: 0.25em;
    color: $color-white;
    font-weight: bold;
    padding: 0.5em;
    width: 100%;
  }

  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 0.5em;
    }
  }
  @include clearfix;
}

.projects__copy_text_box {
}

.projects__copy_details {
  @include span-columns(6);
  @include shift(3);

  h2 {
    text-align: center;
  }

  hr {
    border-style: groove;
    padding-border: 1em;
  }
}

.projects__copy_details_heading {
  @include outer-container;
  h3 {
    margin: 0.5em;
    margin-left: 0;
  }
}

.projects__copy_details_date_heading {
  @include span-columns(3 of 6);
}

.projects__copy_details_changer_heading {
  @include span-columns(3 of 6);
}

.projects__copy_details_entry {
  @include outer-container;
  margin-top: 1em;

  a.preview {
    cursor: pointer;
    display: block;
  }
}

.projects__copy_details_entry_date {
  @include span-columns(3 of 6);
}
.projects__copy_details_entry_changer {
  @include span-columns(3 of 6);
  @include omega();
}
.projects__copy_details_entry_text {
  @include span-columns(6 of 6);
  box-sizing: border-box;
  display: none;
  padding-left: 1.5em;
  border-left: 0.5em solid $color-border;
}

.projects__copy_details_entry_text_line {
}

.projects__flash {
  @include outer-container;
}

.projects__flash_notice {
  text-align: center;
  h1 {
    padding: 0.5em;
    color: white;
    font-style: italics;
  }
}
