// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  .projects {
    @include outer-container;
  }
}

.projects__uid {
  text-align: center;
  h2 {
    font-size: 1.5em;
  }
}

.projects__new {
  @include span-columns(6);
  @include shift(3);
  font-size: 2em;

  input[type=text] {
    padding: 0.25em;
    width: 100%;
  }

  textarea {
    padding: 0.25em;
    width: 100%;
    font-size: 0.7em;
  }

  input[type=submit] {
    padding: 0.25em;
    width: 100%;
    background: #ff954c;
  }

  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 1em;
    }
  }
  @include clearfix;
}

.projects__copy_text_box {
  font-size: 1em;
}

.projects__copy_details {
  @include span-columns(6);
  @include shift(3);

  h2 {
    font-size: 1.75em;
    text-align: center;
  }

  hr {
    border-style: groove;
    padding-border: 1em;
  }
}

.projects__copy_details_heading {
  @include outer-container;
  h3 {
    font-size: 1.5em;
    margin: 0.5em;
  }
}

.projects__copy_details_date_heading {
  @include span-columns(3 of 6);
}

.projects__copy_details_changer_heading {
  @include span-columns(3 of 6);
}

.projects__copy_details_entry {
  @include outer-container;
  margin-top: 1em;
}

.projects__copy_details_entry_date {
  @include span-columns(3 of 6);
}
.projects__copy_details_entry_changer {
  @include span-columns(3 of 6);
  @include omega();
}
.projects__copy_details_entry_text {
  @include span-columns(6 of 6);
  background: white;
  border: 1px solid;
  margin-top: 1em;
  padding: 0.5em;
}

.projects__copy_details_entry_text_line {
}

.projects__flash {
  @include outer-container;
}

.projects__flash_notice {
  background: #cc3333;
  text-align: center;
  h1 {
    padding: 0.5em;
    font-size: 2em;
    color: white;
    font-style: italics;
  }
}
